extends layout
block content
  .main-container
    .row
      each place in places
        .col-md-4.vcenter
            .row.title
              h3.text-center(style="text-transform: capitalize")= place.name
            .row
              .col-md-6.vcenter
                a(href= place.url)
                  img.thumbnail(src= place.image_url)
              .col-md-6.vcenter.description
                  p= place.location.display_address.join(', ')
            .row
              .col-md-6
                form(method="POST" action="/going")
                  button.btn.btn-default(type="submit") Going
                  span="   "
                  a(href="#")
                    span.badge= 5
